/* purgecss start ignore */
@tailwind base;
@tailwind components;

article a {
  color: rgb(49, 49, 182);
  text-decoration: underline;
}

/* purgecss end ignore */
@tailwind utilities;

/* .gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
} */

/* .gradientbg {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  } */

.wavyBorderTop {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wavyBorderTop svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 77px;
}

.wavyBorderBottom {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wavyBorderBottom svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 77px;
}
