.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1664134266 .shapeFill {
    fill: #FFFFFF;
}